<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DicomImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <DicomImageViewer.Properties.Settings>
        <setting name="ExportPath" serializeAs="String">
          <value />
        </setting>
        <setting name="Fps" serializeAs="String">
          <value>7</value>
        </setting>
        <setting name="Quality" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="PublishPath" serializeAs="String">
          <value />
        </setting>
        <setting name="ExportToBmp" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportToJpg" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportToPng" serializeAs="String">
          <value>True</value>
        </setting>
      </DicomImageViewer.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.7.10213" newVersion="2.5.7.10213"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
